@import url('https://cdn.scpsl.store/scpsl.store/css/fonts.css');
*,
*::before,
*::after { text-decoration: none; outline: none; box-sizing: border-box; scroll-behavior: smooth; }

:root {
    --color-text: #FFFFFF;
    --color-gray-text: #232323;
}

body {
    margin: 0;
    padding: 0;

    color: var(--color-text);

    font-size: 1.8em;
    font-weight: 300;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;

    max-width: 100vw;
    min-height: 100vh;
}

section {
    display: flex;
    flex-flow: column wrap;

    align-items: center;
    justify-content: center;

    text-align: center;
    min-height: 100vh;
}

section#main {
    background: var(--image) no-repeat bottom;
    background-size: cover;
}

#main .about > h1 {
    font-weight: 300;
    line-height: 1;
}

#main .about, #main .scroll-indicator{
    z-index: 11;
}
.t0{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.t1{
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    width: 100%;
}
.t2{
    visibility: visible;
    display: block;
    max-height: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.t3{
    position: absolute;
    text-indent: 0;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 20;
    visibility: inherit;
    opacity: 1;
}
.t4{
    transform-style: flat;
    perspective: 10000px;
    position: absolute;
    display: block;
    pointer-events: auto;
    min-width: 100%;
    min-height: 100%;
    left: 0px;
    top: 0px;
    z-index: 8;
    visibility: visible;
}
.trailer{
    opacity: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    text-align: left;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    border-color: rgb(255, 255, 255);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
}
#trailer_audio{
    position: absolute;
    top: calc(100vh - 60px);
    left: max(5vw, 35px);
    min-height: 30px;
    min-width: 30px;
    z-index: 999;
    cursor: url(/cursors/red/pointer.cur), auto !important;
}
#trailer_full{
    position: absolute;
    top: calc(100vh - 60px);
    left: max(calc(5vw - 60px), 0px);
    min-height: 30px;
    min-width: 30px;
    z-index: 999;
    cursor: url(/cursors/red/pointer.cur), auto !important;
}

section p {
    font-size: .8em;
}

.btn {
    color: #fff;
    font-size: .6em;

    transition: all .2s;

    padding: .5em 3em;
    border: 1.5px solid var(--color-gray-text);
}

.btn:hover {
    border: 1.5px solid var(--color-text);

    -moz-box-shadow: 0 0 3px var(--color-text);
    -webkit-box-shadow: 0 0 3px var(--color-text);
    box-shadow: 0 0 3px var(--color-text);
}

* {
cursor: url(/cursors/red/standart.cur), auto !important;
}
p, h1 {
cursor: url(/cursors/red/select.cur), auto !important;
}
a *, a, .socials i, .langs *, .slider span, .slider span *, .vaihda, .vaihda *, .but, .but *, .ip {
cursor: url(/cursors/red/pointer.cur), auto !important;
}
.about *, .online, .online * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: url(/cursors/red/standart.cur), auto !important;
}
.about .btn {
cursor: url(/cursors/red/pointer.cur), auto !important;
}