html{
    background-color: #0D1117;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    cursor: url(/cursors/red/standart.cur), auto;
}
.q1{
    align-items: center;
    align-self: center;
    text-align: center;
}
.q2{
    margin: 5vh;
    display: inline-block;
    background-color: #2f3136;
    border-radius: 20%;
    height: 30vh;
    width: 30vh;
    max-height: 30vh;
    max-width: 30vh;
    cursor: url(/cursors/red/pointer.cur), auto;
    }
.q3{
    margin-top: 10px;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}
.q4{
    background: red;
    border: none;
    height: 1px;
}
.q5{
    color: white;
    font-weight: 600;
    font-size: 3vh;
    margin: 1.5vh;
}
*::-moz-selection { 
    color: #00000000;
    background: #00000000;
    border-radius: 15px;
}
*::selection { 
    color: #00000000;
    background: #00000000;
}
.q5::-moz-selection { 
    color: #9b0000;
    background: #00000040;
    border-radius: 15px;
}
.q5::selection {
    color: #9b0000;
    background: #00000040;
}