<!DOCTYPE html>
<html translate="no">
    <head>
        <%- include('../modules/meta', {embedName:'fydne', metaTitle:'fydne | Error 500', metaDesc:'Error 500'}) %>
        <link rel="stylesheet" href="/css/etc/500.css">
    </head>
    <body class="modal-open">
        <div id="console"></div>
    </body>
    <script src="/js/etc/500.js"></script>
</html>