
.columns .bot-img {
box-shadow: 1px 1px 1px 1px transparent !important;
animation: pulse 2s infinite;
border-radius: 50%;
}
body {
background-color: #000000 !important;
background-attachment: fixed !important;
background-position: center !important;
background-repeat: no-repeat !important;
background-size: cover !important;
color: red;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
}
::-moz-selection{color:#9b0000;background:#00000040;border-radius:15px}
::selection{color:#9b0000;background:#00000040}
* {
  cursor: url(/cursors/red/standart.cur), auto;
}
a, a * {
  cursor: url(/cursors/red/pointer.cur), pointer;
}
footer, .section-padding, footer *, .section-padding *, #counter, #counter * {
  cursor: url(/cursors/red/standart.cur), auto;
}
#counter h3, #counter small {
  cursor: url(/cursors/red/select.cur), pointer;
}
#counter *::-moz-selection, #counter *::-moz-selection {
color: #9b0000 !important;
background: #00000040 !important;
}
#counter *::selection, #counter *::selection {
color: #9b0000 !important;
background: #00000040 !important;
}
footer *::-moz-selection, .section-padding *::-moz-selection {
color: #9b0000 !important;
background: #00000040 !important;
}
footer *::selection, .section-padding *::selection {
color: #9b0000 !important;
background: #00000040 !important;
}
.section-padding h4, .section-padding p, .section-padding h2, footer p {
  cursor: url(/cursors/red/select.cur), pointer;
}
img, img *, i, i * {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.fa-bars{
  display: none;
}