* {cursor: url(/cursors/red/standart.cur), auto}
.btn, a, a *, .clck {cursor: url(/cursors/red/pointer.cur), pointer}
p, h4, blnc {cursor: url(/cursors/red/select.cur), auto}
::-moz-selection{color:#9b0000;background:#00000040;border-radius:15px}
::selection{color:#9b0000;background:#00000040}
a[class="text-dark"], .gallery__thumbnail, .gallery__thumbnail *, #logindiscord, #loginsteam, .p, .p *
{
  cursor: url(/cursors/red/pointer.cur), auto;
}
.gallery__thumbnail--active, .gallery__thumbnail--active *, .st, .st * {
  cursor: url(/cursors/red/standart.cur), auto;
}
.s, .s * {cursor: url(/cursors/red/select.cur), auto}

.btn{
  cursor: url(/cursors/red/pointer.cur), pointer
}
body{top:auto!important}
@media (max-width:768px){.button-menu-mobile.disable-btn{display:inline!important}.page-title-main{display:none}.menu_small_block{display:block!important}.menu_small_menu{font-size:24px;color:#fff;padding-top:0!important}}
.left-side-men2u{padding:50px 0}
.form-control{
  cursor: url(/cursors/red/select.cur), pointer;
  height: auto;
  display: block;
  width: 100%;
  height: calc(1.5em + .9rem + 2px);
  padding: .45rem .9rem;
  font-size: .9rem;
  line-height: 1.5;
  color: #adb5bd;
  background-color: #272a35;
  background-clip: padding-box;
  border: 1px solid #2f323f;
  border-radius: .2rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  resize: none;
}
.promo_form{
  margin-left: 10px;
}
#AdminInfo{
  color: #9e9e9e;
}
#AdminInfo:hover{
  color: #727272;
}
br::selection{ 
  background: #00000000;
  border-radius: 15px;
}
br::selection{
  background: #00000000;
}
#waiting_moneyback{
  z-index: 6666;
  position: absolute;
  pointer-events: none;
}
.roles{
  font-family: NeonOL;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hideRF{display: none !important;}