::-moz-selection{color:#9b0000;background:#00000040;border-radius:15px}
::selection{color:#9b0000;background:#00000040}
* {cursor: url(/cursors/red/standart.cur), auto}
a, a *, button, button * {cursor: url(/cursors/red/pointer.cur), pointer !important}
p, p *, h4, em, h2, h2 *, .uk-text-muted, .last-update, .last-update * {cursor: url(/cursors/red/select.cur), auto}