* {outline: 0}
html{
  background-color: #0d1117;
  color:white;
  font-family: montserrat,sans-serif;
}
* {
cursor: url(/cursors/red/standart.cur), auto;
}
label, input, textarea {
cursor: url(/cursors/red/select.cur), auto;
}
a *, a, .container, .container *, #clan_color, button {
cursor: url(/cursors/red/pointer.cur), auto;
}
::-moz-selection{color:#9b0000;background:#00000040;border-radius:15px}
::selection{color:#9b0000;background:#00000040}
label{color:white}
div[class="color-picker:a"] {display: none;}
body {
  margin: 0px;
  padding: 0;
  font-weight: 300;
  font-style: normal;
  font-family: montserrat,sans-serif;
  max-width: 100vw;
  min-height: 100vh;
}
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#wrapper{
  padding-bottom: 20px;
  width: 100%;
  position: relative;
  z-index: 10;
}
#blur_loader {
  top: 0px!important;
  left: 0px!important;
}
.blurstyle{
  min-width: 100vw!important;
}
#antiblur{
  margin-top: 100px;
}
.navbar-custom{
  z-index: 666666;
}
.q1{
  background-color: transparent;
  border-radius: 0;
  margin: 0 auto;
  padding: 20px 20px 0;
  max-width: 1420px;
  width: 100%;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
}
.q2{
  padding: 20px;
  margin: 0;
  background: #2f3136;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
  border-radius: 3px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: inherit;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  min-height: 80vh;
}
.q3{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  line-height: 20px;
  background-color: #636363a4;
  border: 0px solid #00000000;
  border-radius: .2rem;
}
.q4{
  transition: border linear .2s,box-shadow linear .2s;
  display: inline-block;
  background-image: url(/img/clans/tags-v2.svg);
  background-size: 100%;
  background-position: bottom;
  background-color: transparent;
  margin-left: 0;
  padding: 0 7px 0 0!important;
  height: 35px;
  width: 98px;
  font-size: 24px;
  font-family: "DroidSansMonoW02-Bold","DroidSansMonoW10-Bold",Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal,monospace;
  line-height: 35px;
  text-align: right;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  vertical-align: middle;
  letter-spacing: 1px;
  border: 1px solid #ccc;
  color: #4d4d4d;
}
.q5{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .45rem .9rem;
  font-size: .9rem;
  line-height: 1.5;
  border-radius: .15rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  background-color: #10c469;
  color: #fff;
  border-bottom: 2px solid #0da357;
  margin-top: .375rem;
  margin-bottom: .75rem;
}
.q5:hover{background-color: transparent}
.q6{
  resize: none;
  margin: 0;
  font-family: inherit;
  overflow: auto;
  height: auto;
  display: block;
  min-width: 200px;
  width: 25%;
  padding: .45rem .9rem;
  font-size: .9rem;
  line-height: 1.5;
  color: #adb5bd;
  background-color: #272a35;
  background-clip: padding-box;
  border: 1px solid #2f323f;
  border-radius: .2rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}