<!DOCTYPE html>
<html style="background-color: #161b2d;">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>fydne | Services degraded</title>
<link href="/style.css" rel="stylesheet">
</head>
<body>
<div class="content">
<h1>Сервисы недоступны</h1>
<span>Следить за инцидентом Вы можете <a target="_blank" href="https://status.scpsl.store/incident/199296">здесь (нажми)</a></span>
</div>
</body>
</html>