*{outline:0}
.d1{
z-index: 666;
position: fixed;
pointer-events: auto;
}
.d2{
-webkit-transition: -webkit-transform .2s ease-out;
transition: -webkit-transform .2s ease-out;
transition: transform .2s ease-out;
transition: transform .2s ease-out,-webkit-transform .2s ease-out;
-webkit-transform: translate3d(10px,0,0);
transform: translate3d(10px,0,0);
-webkit-transform: translateZ(0);
transform: translateZ(0);
}
.d3{
width: 300px;
-webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.24);
box-shadow: 0 8px 16px rgba(0,0,0,0.24);
border-radius: 5px;
overflow: hidden;
max-height: calc(100vh - 20px);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
position: relative;
max-height: calc(100vh - 40px);
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
-webkit-animation: cv-menu-fold-x 0.2s cubic-bezier(0.2, 0.6, 0.5, 1.1);
animation: cv-menu-fold-x 0.2s cubic-bezier(0.2, 0.6, 0.5, 1.1);
transform-origin: 0 50%;
z-index: 10;
}
.d4{
color: #dcddde;
-webkit-box-flex: 0;
-ms-flex: 0 0 auto;
flex: 0 0 auto;
background-color: #18191c;
}
.d5{
height: 60px;
position: relative;
-webkit-transition: background-color .1s;
transition: background-color .1s;
}
.d6{
display: block;
padding: 64px 16px 16px;
background-color: #18191c;
overflow: hidden;
position: relative;
border-bottom: 1px solid hsla(0,0%,100%,0.06);
}
.d7{
position: absolute;
top: 16px;
right: 16px;
max-width: 180px;
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -6px;
margin-bottom: -6px;
}
.d8{
-webkit-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
}
.d9{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
overflow: hidden;
line-height: 1.1;
font-size: 20px;
overflow: visible;
line-height: 24px;
word-break: break-word;
white-space: normal;
-webkit-box-align: end;
-ms-flex-align: end;
align-items: flex-end;
font-weight: 500;
color: #fff;
display: block;
}
.d10{
-ms-flex: 0 1 auto;
flex: 0 1 auto;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
color: #fff;
font-weight: 600;
overflow: auto;
word-break: break-all;
text-overflow: unset;
white-space: normal;
vertical-align: top;
display: inline!important;
-webkit-box-flex: 0;
}
.d11{
font-weight: 600;
vertical-align: top;
color: #b9bbbe;
}
.d12{
top: 16px;
cursor: url(/cursors/red/standart.cur), default !important;
border-radius: 50%;
position: absolute;
left: 16px;
}
.d13{
width: 80px;
height: 80px;
position: relative;
margin-right: 0 !important;
border: 6px solid #18191c;
background-color: #18191c;
border-radius: 50%;
}
.d14{
overflow: visible;
filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
pointer-events: none;
display: block;
height: 100%;
width: auto;
position: absolute;
}
.d15{
-webkit-mask: none;
mask: none;
}
.d16{
display: grid;
width: 100%;
height: 100%;
}
.d17{
-webkit-clip-path: inset(calc(3px + 1px) calc(3px + 1px) round 50%);
clip-path: inset(calc(3px + 1px) calc(3px + 1px) round 50%);
border-radius: 50%;
text-indent: -9999px;
display: block;
-o-object-fit: cover;
object-fit: cover;
pointer-events: none;
width: 100%;
height: 100%;
grid-area: 1/1;
}
.d18{
z-index: 666;
position: absolute;
pointer-events: none;
}