*{outline:0;}
.p1{
z-index: 9999;
position: fixed;
pointer-events: none;
}
.p2{
-webkit-transition: -webkit-transform .2s ease-out;
transition: -webkit-transform .2s ease-out;
transition: transform .2s ease-out;
transition: transform .2s ease-out,-webkit-transform .2s ease-out;
-webkit-transform: translate3d(10px,0,0);
transform: translate3d(10px,0,0);
-webkit-transform: translateZ(0);
transform: translateZ(0);
pointer-events: auto;
}
.p3{
width: 300px;
-webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.24);
box-shadow: 0 8px 16px rgba(0,0,0,0.24);
border-radius: 5px;
overflow: hidden;
max-height: calc(100vh - 20px);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
position: relative;
max-height: calc(100vh - 40px);
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
-webkit-animation: cv-menu-fold-x 0.2s cubic-bezier(0.2, 0.6, 0.5, 1.1);
animation: cv-menu-fold-x 0.2s cubic-bezier(0.2, 0.6, 0.5, 1.1);
transform-origin: 0 50%;
z-index: 10;
}
.p4{
color: #dcddde;
-webkit-box-flex: 0;
-ms-flex: 0 0 auto;
flex: 0 0 auto;
background-color: #18191c;
}
.p5{
height: 60px;
position: relative;
-webkit-transition: background-color .1s;
transition: background-color .1s;
}
.p5-premium{
    height: 120px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-color: black;
    position: relative;
    transition: background-color .1s;
}
.p6{
display: block;
padding: 64px 16px 16px;
background-color: #18191c;
overflow: hidden;
position: relative;
border-bottom: 1px solid hsla(0,0%,100%,0.06);
}
.p7{
position: absolute;
top: 16px;
right: 16px;
max-width: 180px;
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -6px;
margin-bottom: -6px;
}
.p7-1{
    margin: 0 6px 6px 0;
}
.p7-2{
    width: 25px !important;
    height: 25px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: url(/cursors/red/help.cur), help !important;
}
.p8{
-webkit-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
}
.p9{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
overflow: hidden;
line-height: 1.1;
font-size: 20px;
overflow: visible;
line-height: 24px;
word-break: break-word;
white-space: normal;
-webkit-box-align: end;
-ms-flex-align: end;
align-items: flex-end;
font-weight: 500;
color: #fff;
display: block;
}
.p10{
-ms-flex: 0 1 auto;
flex: 0 1 auto;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
color: #fff;
font-weight: 600;
overflow: auto;
word-break: break-all;
text-overflow: unset;
white-space: normal;
vertical-align: top;
display: inline!important;
-webkit-box-flex: 0;
}
.p11{
top: 16px;
cursor: url(/cursors/red/standart.cur), default !important;
border-radius: 50%;
position: absolute;
left: 16px;
}
.p11-premium{top: 76px}
.p12{
width: 80px;
height: 80px;
position: relative;
margin-right: 0 !important;
border: 6px solid #18191c;
background-color: #18191c;
border-radius: 50%;
}
.p13{
overflow: visible;
filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
pointer-events: none;
display: block;
height: 100%;
width: auto;
position: absolute;
}
.p14{
-webkit-mask: none;
mask: none;
}
.p15{
display: grid;
width: 100%;
height: 100%;
}
.p16{
-webkit-clip-path: inset(calc(3px + 1px) calc(3px + 1px) round 50%);
clip-path: inset(calc(3px + 1px) calc(3px + 1px) round 50%);
border-radius: 50%;
text-indent: -9999px;
display: block;
-o-object-fit: cover;
object-fit: cover;
pointer-events: none;
width: 100%;
height: 100%;
grid-area: 1/1;
}
.achievement[aria-label]:after {
    opacity: 0;
    pointer-events: none;
    text-indent: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
    font-size: 11px;
    background: #000;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    color: #fff;
    content: attr(aria-label);
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    right: 0;
}
.achievement[aria-label]:hover:before,
.achievement[aria-label]:hover:after {
    opacity: 1;
    pointer-events: none
}
.p17{
    align-items: center;
    display: flex;
    margin-left: auto;
    color: #4d4d4d;
    list-style-type: none;
    float: right;
}
.p18{
    font-size: 1rem;
    line-height: 1.25rem;
    background: #00000000;
    border-radius: 2px;
    display: inline-block;
    height: 20px;
    position: relative;
    text-decoration: none;
    width: 64px;
}
.p19{
    color: #fff;
    display: block;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 2px;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    width: 100%;
    line-height: 1rem;
}
.p20{
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    bottom: 0;
    display: flex;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25rem;
}
.p20 div{
    border-bottom-left-radius: 1px;
    border-right: 1px solid #18191c;
    flex: 0 0 20%;
    background-color: #fff;
}
.profile_prime{color:#ffea2e}