html{
    background-color: #0D1117;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
*{cursor: url(/cursors/red/standart.cur), default;}
a, a *, button, button * {
  cursor: url(/cursors/red/pointer.cur), pointer;
}
body{
    width: 100vw;
    height: 100vh;
}
.q1{
    padding-top: 100px;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
    align-self: center;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.q1-1{
    display: inline-flex;
    background-color: #2f3136;
    border-top-right-radius:7%;
    border-top-left-radius: 7%;
}
.q1-2{
    display: inline-flex;
    background-color: #2f3136;
    border-bottom-right-radius:7%;
    border-bottom-left-radius: 7%;
}
.q2{
    margin: 0;
    display: inline-block;
    cursor: url(/cursors/red/pointer.cur), pointer;
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
.q3{
    margin-top: 0px;
    width: 30vh;
}
.q4{
    background: red;
    border: none;
    height: 1px;
}
.q5{
    color: white;
    font-weight: 600;
    font-size: 2.8vh;
    margin: 1.5vh;
}
.q6{
    margin-left: 1vh;
    margin-right:1vh;
}
::-moz-selection {
    color: #9b0000;
    background: #00000040;
    border-radius: 15px;
}
::selection { 
    color: #9b0000;
    background: #00000040;
}