@import url('https://cdn.scpsl.store/scpsl.store/css/fonts.css');
* {
  box-sizing: border-box;
  margin: 0;
}

h1, p, h2, h3, h4, ul, li, div {
  margin: 0;
  padding: 0;
}

.loading-page {
  background: #0d0d0d;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter p {
  font-size: 40px;
  font-weight: 100;
  color: #f60d54;
}
.loading-page .counter h1 {
  color: white;
  font-size: 60px;
  margin-top: -10px;
}
.loading-page .counter hr {
  background: rgb(255, 0, 0);
  border: none;
  height: 1px;
}
.loading-page .counter {
  position: relative;
  width: 200px;
}
.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}
.fa-bars{
    display: none;
}
* {
  cursor: url(/cursors/red/standart.cur), auto;
}
.btn, a, a *, .buy, #ra_color_input {
  cursor: url(/cursors/red/pointer.cur), auto;
}
.select-selected, .select-items, .select-items *, .pointer, .pointer *, .p, .p * {
  cursor: url(/cursors/red/pointer.cur), auto !important;
}
p, h4, h3, .promo_input, i {
  cursor: url(/cursors/red/select.cur), auto !important;
}
h9, #ra_input_text {
  cursor: url(/cursors/red/select.cur), auto !important;
}
::-moz-selection{color:#9b0000;background:#00000040;border-radius:15px}
::selection{color:#9b0000;background:#00000040}
.faclose{
color: #232a35;
}
.faclose:hover{
color: #fc1e1e !important;
cursor: url(/cursors/red/pointer.cur), pointer;
}
.fa-bars{
  display: none !important;
}
.inf{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width:768px){
  .button-menu-mobile.disable-btn{
    display:inline!important
  }
  .page-title-main{
    display:none
  }
  .menu_small_block{
    display:block!important
  }
  .menu_small_menu{
    font-size:24px;color:#fff;
    padding-top:0!important
  }
}
.donate_overflow{overflow-y: auto;}
.donate_rules{display: block; z-index: 1040; padding-left: 17px; background-color: #00000059;}
br::selection{ 
background: #00000000;
border-radius: 15px;
}
br::selection{
background: #00000000;
}