.donates{
    padding: 0 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.sm{
    justify-content: center;
    text-align: center;
}
.donate{
    width: 150px;
    background-color: rgb(30, 27, 28);
    max-width: 200px;
    padding: 0 10px 15px 10px;
    margin: 0 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px #00000088;
    margin-bottom: 10px;
}
.name{
    margin-top: 20px;
    height: 30px;
    font-size: 150%;
    font-weight: 500;
    font-family: NeonOL;
}
.count{
    font-size: 150%;
    font-weight: 400;
    background-color: #0A0A0A;
    padding: 5px 0;
    border-radius: 10px;
    font-family: Nickainley;
}
.buy{
    color: rgba(255, 0, 0, 0.753);
    font-size: 150%;
    font-weight: 400;
    padding: 5px 0;
    border-radius: 10px;
    font-family: Nickainley;
}
.img {
    width: 96px;
    margin-bottom: 10px;
}
.modal-title{
    font-family: NeonDL;
}
.neonol{
    font-family: NeonOL;
}
.prime{color: yellow;}
.dlogo{
    font-family: NeonOL;
    margin-top: 25px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.buy{
    cursor: url(/cursors/red/pointer.cur), pointer !important;
}
.font2{font-family: NeonOL;}