* {outline: 0}
html{
    background-color: #0d1117;
    color:white;
    font-family: montserrat,sans-serif;
    overflow-x: hidden;
}
body {
    margin: 0px;
    padding: 0;
    font-weight: 300;
    font-style: normal;
    font-family: montserrat,sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
}
*, :after, :before {
    box-sizing: inherit;
    touch-action: manipulation;
}
::-moz-selection{color:#9b0000;background:#00000040;border-radius:15px}
::selection{color:#9b0000;background:#00000040}
*{cursor: url(/cursors/red/standart.cur), default;}
a, a *, button, button * {
  cursor: url(/cursors/red/pointer.cur), pointer;
}
h5, span, .txt, .txt * {
  cursor: url(/cursors/red/select.cur), text;
}
a *{
    cursor: url(/cursors/red/pointer.cur), pointer;
}
button, button * {
  cursor: url(/cursors/red/pointer.cur), pointer !important;
}