* {outline: 0}
html{
  background-color: #0d1117;
  color:white;
  font-family: montserrat,sans-serif;
}
* {
cursor: url(/cursors/red/standart.cur), auto;
}
label, input, textarea {
cursor: url(/cursors/red/select.cur), auto;
}
a *, a, .container, .container *, #clan_color, button, input[type="radio"] {
cursor: url(/cursors/red/pointer.cur), auto;
}
::-moz-selection{color:#9b0000;background:#00000040;border-radius:15px}
::selection{color:#9b0000;background:#00000040}
label{color:white}
div[class="color-picker:a"] {display: none;}
body {
  margin: 0px;
  padding: 0;
  font-weight: 300;
  font-style: normal;
  font-family: montserrat,sans-serif;
  max-width: 100vw;
  min-height: 100vh;
}
#wrapper{
  padding-bottom: 20px;
  width: 100%;
  position: relative;
  z-index: 10;
}
#blur_loader {
  top: 0px!important;
  left: 0px!important;
}
.blurstyle{
  min-width: 100vw!important;
}
#antiblur{
  margin-top: 100px;
}
.navbar-custom{
  z-index: 666666;
}
.q1{
  background-color: transparent;
  border-radius: 0;
  margin: 0 auto;
  padding: 20px 20px 0;
  max-width: 1420px;
  width: 100%;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
}
.q2{
  padding: 20px;
  margin: 0;
  background: #2f3136;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
  border-radius: 3px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: inherit;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  min-height: 80vh;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}