html{
    background-color: #0d1117;
    color:white;
    font-family: montserrat,sans-serif;
    overflow-x: hidden;
}
body {
    margin: 0px;
    padding: 0;
    font-weight: 300;
    font-style: normal;
    font-family: montserrat,sans-serif;
    max-width: 100vw;
    min-height: 100vh;
}
*, :after, :before {
    box-sizing: inherit;
    touch-action: manipulation;
}
.w-1, .w-1 *{overflow:hidden;}
::-moz-selection{color:#9b0000;background:#00000040;border-radius:15px}
::selection{color:#9b0000;background:#00000040}
.w-1, .w-1 *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w4,.w4 *{
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
img{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
* {cursor: url(/cursors/red/standart.cur), auto;}
a *, a, .container, .container * {cursor: url(/cursors/red/pointer.cur), auto;}
.w0{margin-top: 100px;}
.w1 {
    margin: .625rem auto 0;
    max-width: 1420px;
    padding: 0 .625rem;
    position: relative;
}
@media (min-width: 64em) {
    .w1 {
        margin: 1.25rem auto 0;
        padding: 0 1.25rem;
    }
}
.w2{
    position: relative;
    opacity: 1;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: Masonry__fadeInSearch__3rWM2;
    animation-name: Masonry__fadeInSearch__3rWM2;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    width: 100%;
    will-change: transform;
}
.w3{
    position: relative;
    display: inline-block;
    list-style: none;
    margin-bottom: .625rem;
    max-width: none;
    width: 100%;
}
@media (min-width: 45em){
    .w3 {
        width: 49.15254%;
        margin-bottom: 1.69492%;
    }
}
@media (min-width: 68.75em){
    .w3 {
        width: 32.20339%;
    }
}
.w4{
    border-bottom: 3px solid transparent;
    border-radius: 3px;
    color: #fff;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: wrap;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-top: 1px solid #2f3136;
    padding: .625rem;
    background: #2f3136;
}
@media (min-width: 21.875em){
    .w4 {
        padding: 1.25rem;
    }
}
.w5{
    flex: 0 1 33.33%;
    max-height: 100px;
    max-width: 100px;
    overflow: hidden;
    word-break: break-all;
    position: relative;
    background-color: transparent;
}
.w5:before {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
}
.w51{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border-style: none;
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #00000000;
    border-color: #00000000;
    background-size: cover;
    background-position: 50%;
}
@media (min-width: 21.875em){
    .w6 {
        padding-left: 1.25rem;
    }
}
.w6{
    flex: 1 1;
    overflow: hidden;
    padding-left: .625rem;
    text-overflow: ellipsis;
}
.w7{
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #fff;
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.w8{
    font-size: 1rem;
    line-height: 1.25rem;
    background: #52555e;
    border-radius: 2px;
    border: 1px solid #52555e;
    display: inline-block;
    height: 28px;
    position: relative;
    text-decoration: none;
    width: 64px;
}
.w9{
    color: #ddd;
    display: block;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 2px;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    width: 100%;
}
.w10{
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    bottom: 0;
    display: flex;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}
.w11{
    font-size: .75rem;
    line-height: 1.25rem;
    align-items: center;
    color: #000;
    display: flex;
    margin-top: 8px;
    text-decoration: none;
    background-color: transparent;
}
.w11{
    color: #fff;
}
.w12{
    color: #fff;
    margin-right: 5px;
    vertical-align: middle;
}
.w13{
    font-size: .75rem;
    line-height: 1.25rem;
    padding-right: 20px;
}
.w-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 666;
}