<link rel="stylesheet" href="/css/modules/profile_discord.css">
<div id="u1" class="d1" style="display: none;">
    <div class="d2">
        <div class="d3" aria-label="Web" role="dialog" tabindex="-1" aria-modal="true">
            <div class="d4">
                <div class="d5" id="u4"></div>
                <div class="d6">
                    <div class="d7" id="u5"></div>
                    <div class="d8">
                        <div class="d9" id="u3">
                            <span class="d10">fydne</span><span class="d11">#1337</span>
                        </div>
                    </div>
                </div>
                <div class="d12" role="button" tabindex="0">
                    <div class="d13" role="img" aria-label="Web" aria-hidden="false">
                        <svg width="92" height="80" viewBox="0 0 92 80" class="d14" aria-hidden="true">
                            <foreignObject class="d15" x="0" y="0" width="80" height="80" mask="url(#svg-mask-avatar-default)">
                                <div class="d16">
                                    <img id="u2" alt=" " class="d17" aria-hidden="true" onerror="this.src = '<%= cdn_host %>/scpsl.store/users/avatars/unknow.png';">
                                </div>
                            </foreignObject>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="waiting_discord" class="d18" style="display: none;">
    <div class="loader" align="center">
        <link rel="stylesheet" href="<%= cdn_host %>/scpsl.store/css/profile_loader.css">
        <div class="ll">
            <div class="arc"></div>
            <div class="arc"></div>
            <div class="arc"></div>
        </div>
    </div>
</div>
<script src="<%= cdn_host %>/scpsl.store/js/rgbaster.min.js"></script>
<script src="/js/modules/profile_discord.js"></script>