<link rel="stylesheet" href="/css/modules/panel.css">
<div class="left-side-menu">
    <div class="active scroll" style="overflow: hidden;position: relative; width: auto;">
        <div class="slimscroll-menu in" style="overflow: hidden;width: auto;">
            <div class="user-box text-center">
                <div class="img" id="avatar_panel"></div>
                <div class="dropdown">
                    <w id="panel.username" style="color: white;">unknow</w>
                </div>
                <p class="text-muted"><blnc id="panel.balance">?</blnc>₽</p>
            </div>
            <div id="sidebar-menu" class="active">
                <ul class="metismenu in" id="side-menu"></ul>
            </div>
        </div>
    </div>
</div>
<script src="/js/modules/panel.js"></script>