<link rel="stylesheet" href="/css/modules/alert.css">
<div class="pc">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Промокод на скидку в 7% - <a style="color: white;" onclick="navigator.clipboard.writeText('fix-servers'); this.style.color = 'lime'; setTimeout(() => this.style.color = '', 2000);">fix-servers</a>.
    </div>
</div>