<div id="waiting" style="display: none;">
    <link rel="stylesheet" href="/css/modules/waiting.css">
    <script src="/js/modules/waiting.js"></script>
    <div class="loader" align="center">
        <link rel="stylesheet" href="<%= cdn_host %>/scpsl.store/css/profile_loader.css">
        <div class="ll">
            <div class="arc"></div>
            <div class="arc"></div>
            <div class="arc"></div>
        </div>
    </div>
</div>