* {
cursor: url(/cursors/red/standart.cur), auto;
}
p, h1 {
cursor: url(/cursors/red/select.cur), auto;
}
a *, a {
cursor: url(/cursors/red/pointer.cur), auto;
}
html{
    background-color: #0D1117;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    cursor: url(/cursors/red/standart.cur), auto;
}
.q1{
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
.q2{
    text-decoration: none;
    margin: 5vh;
    display: inline-block;
    background-color: #2f3136;
    border-radius: 20%;
    height: 35vh;
    width: 30vh;
    max-height: 35vh;
    max-width: 30vh;
    cursor: url(/cursors/red/pointer.cur), auto;
}
.q3{
    width: 20vh;
    height: 20vh;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    background-color: #3b4452;
    border-color: #434e5e;
    border: 1.5vh solid #434e5e;
    background-size: cover;
    background-position: 50%;
    margin-top: 1vh;
}
.q4{
    margin-top: 0.7vh;
    margin-bottom: 0.7vh;
    background: red;
    border: none;
    height: 1px;
}
.q5{
    max-height: 22px;
    text-overflow: ellipsis;
    color: white;
    font-weight: 600;
    font-size: 2.5vh;
    margin: 1vh;
}
.q6{
    text-overflow: ellipsis;
    color: gray;
    font-weight: 300;
    font-size: 1.7vh;
    margin: 1vh;
}
*::-moz-selection { 
    color: #00000000;
    background: #00000000;
    border-radius: 15px;
}
*::selection { 
    color: #00000000;
    background: #00000000;
}
.q5::-moz-selection, .q6::-moz-selection, #input::-moz-selection { 
    color: #9b0000;
    background: #00000040;
    border-radius: 15px;
}
.q5::selection, .q6::selection, #input::selection {
    color: #9b0000;
    background: #00000040;
}
br{
    height: 1vh;
    max-height: 1vh;
}
.load{
    display: none;
}
#input{
    color: white;
    background-image: url('https://cdn.scpsl.store/scpsl.store/img/etc/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 60vh;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid rgb(73, 73, 73);
    background-color: rgb(73, 73, 73);
    margin-bottom: 12px;
    margin-top: 100px;
    cursor: url(/cursors/red/select.cur), auto;
    outline: 0;
}
#search_users{
    margin: auto;
    max-width: 130vh;
}