body {
background-color: #0e1422 !important;
background-attachment: fixed !important;
background-position: center !important;
background-repeat: no-repeat !important;
background-size: cover !important;
color: red;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
}
::-moz-selection{color:#9b0000;background:#00000040;border-radius:15px}
::selection{color:#9b0000;background:#00000040}
* {
cursor: url(/cursors/red/standart.cur), auto !important;
}
a *, a, button, button * {
cursor: url(/cursors/red/pointer.cur), auto !important;
}
.t0{
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}
.t1 {
  padding-top: 72px;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 910px){
  .t2{
      padding-bottom: 120px;
      min-height: calc( 100vh - 120px );

  }
}
.t3{
  background-position: center top;
}
@media screen and (max-width: 910px){.t3 {padding-bottom: 0;}}
.t4{
  width: 949px;
  text-align: left;
  margin: 0 auto;
}
@media screen and (max-width: 910px){
  .t4{
      width: auto;
      padding: 0;
      margin: 0 1%;
  }
}
.t5{
  visibility: visible;
  padding: 0;
  text-align: left;
}
.t6{
  padding-top: 1em;
  max-width: 949px;
}
.t7{
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
}
@media screen and (max-width: 910px){
.t7 {
  padding: 15px 1.6%;
}}
.t8{
  height: 420px;
}
.t9{
  outline: none;
  margin: 0px;
  position: absolute;
  width: 75px;
  height: 10px;
  background-color: #32373a;
  z-index: 666;
}