.em1{
position: fixed;
width: 100vw;
height: 100vh;
background-color: #0000005e;
z-index: 999;
}
.em2{
background-color: #2f4152;
border-radius: 8px;
position: absolute;
top: 40%;
left: 50%;
transform: translateX(-50%);
padding: 20px;
}
.em3{
color: #fff;
font-size: 20px;
font-weight: 500;
padding-right: 40px;
user-select: none;
}
.em4{
position: absolute;
color: red;
right: 10px;
top: 10px;
cursor: url(/cursors/red/pointer.cur), pointer !important;
}
.em5{
background-color: rgb(95, 101, 104);
display: flex;
width: 100%;
height: 2px;
margin: 5px 0;
}
.em6{
color: #fff;
cursor: url(/cursors/red/select.cur), text !important;
}
.em7{
display: flex;
}
.em8{
margin: 10px 0;
outline: none;
cursor: url(/cursors/red/select.cur), text;
background-color: #00000040;
color: #fff;
border: 0;
padding: 5px;
font-size: 20px;
font-weight: 600;
font-family: cursive;
display: block;
margin-right: 10px;
border-radius: 5px;
}