::-moz-selection{color:#9b0000;background:#00000040;border-radius:15px}
::selection{color:#9b0000;background:#00000040}
* {outline: 0;}
body{
position: relative;
min-height: 100vh;
margin: 0;
padding: 0;
font-family: -apple-system,BlinkMacSystemFont,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
text-rendering: optimizeLegibility;
}
.clan_color{
background-color: var(--clan-color, #ff0000);
}
a {
color: #5ea9ff;
text-decoration: none;
background-color: transparent;
cursor: url(/cursors/red/pointer.cur), pointer;
}
img[class="render.emoji"]{
box-sizing: border-box;
outline: 0;
font-size: .9rem;
line-height: 1.5;
color: #adb5bd00;
pointer-events: auto;
-webkit-box-direction: normal;
font-family: Roboto,sans-serif;
width: 24px;
height: 24px;
display: inline-block;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
cursor: url(/cursors/red/select.cur), text;
-webkit-touch-callout: auto !important;
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
margin-bottom: -5px;
}
img[class="render.emoji.big"]{
width: 3rem;
height: 3rem;
min-height: 3rem;
}
blockquote {
border-left: 4px solid #43474e;
padding: 0.5em 10px;
margin-inline-start: auto;
margin-inline-end: auto;
display: block;
margin-bottom: 5px;
margin-top: 5px;
}

/* clan.dynamic */
.dm1{
margin: 0;
position: absolute;
top: 350px;
left: 50%;
transform: translateX(-50%);
background: #2e3238;
width: min(70vw, 1300px);
min-height: 250px;
border-radius: 1rem;
}
.dm2{
position: relative;
height: 100%;
width: 100%;
padding: min(20px, 1.3vw);
}

/* hide a in color selector */
div[class="color-picker:a"] {display: none;}