.nf1{
margin: 0;
position: fixed;
top: 50%;
right: 0;
transform: translateY(-50%);
background: #00000000;
display: inline-flex;
z-index: 20;
border: 0;
}
.nf2{
position: relative;
min-width: 2vw;
background-color: #00000000;
width: 65px;
}
.nf3{
position: absolute;
background: #292929;
top: 50%;
transform: translateY(-50%);
height: 65px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}
.nf4{
width: 46px;
height: 46px;
font-size: 46px;
margin: 9.6px;
line-height: .05em;
vertical-align: -0.075em;
}
.nf5{
background: #292929;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
min-height: 200px;
width: 200px;
}
.nf6{
color: #fff;
font-size: 13px;
font-weight: 700;
text-align: center;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.nf7{
max-height: min(500px, 60vh);
overflow-y: scroll;
overflow-x: hidden;
display: flex;
flex-wrap: wrap;
padding-bottom: 43px;
}
.nf8{
cursor: url(/cursors/red/standart.cur), default;
border-bottom: 1px solid #999999;
color: #c4c4c4;
display: block;
padding: 0.25rem;
padding-left: 1rem;
padding-right: 1rem;
text-decoration: none;
text-align: left;
width: 100%;
}
.nf8:first-child {
border-top: 1px solid #999999;
}
.nf8:last-child {
border-bottom: 0px;
}
.nf9{
font-size: .938rem;
line-height: 1.25rem;
float: left;
width: 100%;
}
.nf9 p {
cursor: url(/cursors/red/select.cur), text;
word-wrap: break-word;
word-break: break-word;
overflow: hidden;
max-height: 300px;
margin-block-start: 10px;
margin-block-end: 10px;
}
.nf10{
vertical-align: middle;
height: 16px;
margin-right: 5px;
width: 16px;
}
.nf11{
cursor: url(/cursors/red/help.cur), help;
font-size: .75rem;
line-height: 1.25rem;
color: #666;
text-transform: capitalize;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.nf12{
font: inherit;
margin: 0;
background: none;
border: none;
cursor: url(/cursors/red/pointer.cur), pointer;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
color: #c5c5c5;
font-weight: 600;
text-decoration: none;
display: block;
text-align: center;
padding: 0.625rem 0;
width: 200px;
background-color: #2f3136;
bottom: -1px;
position: absolute;
border-bottom-left-radius: 8px;
height: 39px;
}
.nf1{
transition: 2s all cubic-bezier(0.38, 0.8, 0.78, 1);
}
#notifications.nfhidden .nf1{
transform: translateY(-50%) translateX(calc(100% - var(--selector-panel-scale,60px)));
}