.dms1{
display: inline-block;
}
.dms2{
position: relative;
height: 100px;
width: 100px;
background-color: #202429;
border-radius: 30%;
text-align: center;
padding-top: 30px;
color:#fff;
cursor: url(/cursors/red/pointer.cur), pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.dms2:hover{background-color: #363c44;}
.dms3{
position: relative;
margin: 0;
left: 50%;
transform: translateX(-50%);
margin-top: 10px;
cursor: url(/cursors/red/pointer.cur), auto;
font-family: inherit;
line-height: inherit;
overflow: visible;
background-color: #00000040 !important;
background-clip: padding-box;
border: 1px solid #2f323f;
border-radius: 0.2rem;
width: 50px;
height: 50px;
border-radius: 15%;
padding: 10px;
}
.dms3 .color-picker{
left: 25px !important;
top: 45px !important;
}
.dms4{
background-color: var(--clan-color, #ff0000);
border-radius: 15%;
width: 100%;
height: 100%;
}
.dms5{
position: absolute;
left: 49%;
transform: translateX(-50%);
align-items: center;
text-align: center;
}
.dms6{
font-weight: 600;
color: white;
font-size: 20px;
line-height: 24px;
font-family: cursive;
display: block;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.dms7{
margin: 10px 0;
outline: none;
cursor: url(/cursors/red/select.cur), text;
background-color: #00000040;
color: #fff;
border: 0;
padding: 5px;
font-size: 20px;
font-weight: 600;
line-height: 24px;
text-align: center;
font-family: cursive;
display: block;
height: 100%;
}
.dms8{
resize: none;
white-space: pre-wrap;
overflow-wrap: break-word;
-webkit-user-modify: read-write-plaintext-only;
min-height: 44px !important;
height: 44px;
width: 100%;
font-family: Lato;
}
.dms9{
position: absolute;
right: calc(min(20px, 1.3vw)*6);
top: 40%;
transform: translateY(-50%);
}