.cs1{
margin: 0;
position: absolute;
top: 100px;
left: 50%;
transform: translateX(-50%);
background: #00000000;
width: 630px;
display: inline-block;
}
.cs2{
z-index: 1;
padding: 10px 10px;
background-color: #2f3136;
display: inline-flex;
width: 158px;
height: 200px;
border-radius: 0;
border-top-left-radius: 10%;
border-bottom-left-radius: 10%;
position: relative;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: -webkit-box-shadow .1s;
transition: -webkit-box-shadow .1s;
transition: box-shadow .1s;
transition: box-shadow .1s,-webkit-box-shadow .1s;
-ms-flex-negative: 0;
flex-shrink: 0;
}
.cs3{
width: 138px;
height: 138px;
background-size: cover;
background-position: 50%;
background-repeat: no-repeat;
border-radius: 50%;
}
.cs4{
top: 160px;
left: 50%;
transform: translateX(-50%);
font-size: 1rem;
line-height: 1.25rem;
background: #52555e;
border-radius: 2px;
border: 1px solid #52555e;
height: 28px;
text-decoration: none;
width: 64px;
position: absolute;
}
.cs5{
color: #ddd;
display: block;
font-size: .875rem;
font-weight: 700;
letter-spacing: 1px;
margin-top: 2px;
text-align: center;
text-indent: 2px;
text-transform: uppercase;
width: 100%;
text-transform: uppercase;
font-family: montserrat,sans-serif;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.cs6{
border-bottom-left-radius: 1px;
border-bottom-right-radius: 1px;
bottom: 0;
display: flex;
height: 3px;
left: 0;
position: absolute;
width: 100%;
}
.cs7{
z-index: 2;
position: absolute;
display: inline-flex;
height: 100%;
width: 2px;
top:0;
}
.cs8{
z-index: 1;
background-color: #2f3136;
position: absolute;
display: inline-flex;
height: 100%;
padding: 10px;
margin: 0;
}
.cs9{
position: relative;
width: 250px;
max-height: 180px;
}
.cs10{
padding: 10px 0;
text-align: center;
font-weight: 600;
color: white;
font-size: 20px;
line-height: 24px;
font-family: cursive;
}
.cs11{
padding: 0;
max-height: 136px;
overflow: hidden;
font-family: Lato;
}
.cs12{
z-index: 1;
background-color: #2f3136;
position: absolute;
display: inline-flex;
height: 100%;
padding: 10px;
margin: 0;
width: 200px;
left:430px;
border-top-right-radius: 10%;
border-bottom-right-radius: 10%;
flex-direction: column;
overflow: hidden;
}
.cs13{
background: rgb(145, 145, 145);
color: #fff;
transition: all .3s ease-in-out;
min-height: 32px;
width: auto;
height: 32px;
min-width: 60px;
position: relative;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-sizing: border-box;
box-sizing: border-box;
border: none;
border-radius: 3px;
font-size: 14px;
font-weight: 500;
line-height: 16px;
padding: 2px 16px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-rendering: optimizeLegibility;
margin: auto;
margin-top: 10px;
}
.cs14{
margin: 0 auto;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
.cs15{
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
position: relative;
}
.cs16{
position: absolute;
border-bottom-right-radius: 8px;
background-color: #3e4147;
top: 0;
left: 0;
z-index: 10;
padding-left: 5px;
padding-right: 5px;
font-weight: 300;
font-style: normal;
color: white;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.cs17{
left: unset;
right: 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 8px;
}
.cs18{
left: 50%;
transform: translateX(-50%);
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
}
.cs18 i{
color: lime;
cursor: url(/cursors/red/pointer.cur), pointer !important;
}

.loglink{
color: #5ea9ff;
text-decoration: none;
background-color: transparent;
cursor: url(/cursors/red/pointer.cur), pointer !important;
}
.loginvcopy{
margin-left: 10px;
color: #5ea4ff;
cursor: url(/cursors/red/pointer.cur), pointer !important;
}