@import url(https://cdn.scpsl.store/scpsl.store/css/fonts.css);
* {
    margin: 0;
    padding: 0;
    cursor: url(/cursors/red/standart.cur), default;
}
input{
    cursor: url(/cursors/red/select.cur), text;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    height: 100%;
    background: -moz-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgb(195, 81, 81) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(34,46,64,1)), color-stop(100%, rgb(195, 81, 81)));
    background: -webkit-linear-gradient(270deg, rgba(34,46,64,1) 0%, rgb(195, 81, 81) 100%);
    background: linear-gradient(180deg, rgba(34,46,64,1) 0%, rgb(195, 81, 81) 100%);
}
.reset {
    position: relative;
    color: #666;
    font: 16px/26px "Raleway", sans-serif;
    text-align: center;
    height: 100%;
    overflow:hidden;
}
.reset *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mssg.animate {
    opacity: 1;
}
.mssg {
    opacity: 0;
    -webkit-transition: opacity 1s .5s ease;
    -moz-transition: opacity 1s .5s ease;
    -o-transition: opacity 1s .5s ease;
    transition: opacity 1s .5s ease;
    margin: 1em 0;
    font-size: .9em;
}

.reset {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.wrap {
    position: static;
    margin: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #1F222C;
}
.logo span {
    font-family: NeonDL;
    color: red;
    height: 28px;
    width: 28px;
    font-size: 28px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.user {
    position: relative;
    z-index: 0;
    float: none;
    margin: 0 auto;
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #252934;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    overflow-x: hidden;
}
input {
    font: 16px/26px "Raleway", sans-serif;
}
.form-wrap {
    width: 100%;
    margin: 40px 0 0;
    padding: 0;
}
.form-wrap .tabs-content {
    padding: 1.5em 3em;
    text-align: left;
    width: auto;
}
.form-wrap .tabs-content div[id$="tab-content"] {
    display: none;
}
.form-wrap .tabs-content .active {
    display: block !important;
}
.form-wrap .input {
    margin: 0 0 .8em 0;
    padding: .8em 2em 10px 1em;
    width: 100%;
    display: inline-block;
    background: #30373F;
    border: 0;
    border-bottom: 0px solid #5A6374;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    color: #fff;
}
.form-wrap .button {
    margin: 1em 0;
    padding: .2em 2em;
    width: auto;
    display: block;
    background-color: rgb(201, 60, 60);
    border: none;
    color: #fff;
    cursor: url(/cursors/red/pointer.cur), pointer;
    font-size: .8em;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
}
.form-wrap .button:hover {
    background-color: rgb(187, 55, 55);
}
@media only screen and (min-width: 40em) {
    .wrap {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 450px;
        height: 540px;
        margin: auto;
        border-radius: 0;
    }
    .logo {
        height: 50px;
    }
    .user {
        padding-top: 0;
        float: left;
        width: 100%;
        height: 500px;
        -webkit-box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        -moz-box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        border: 0;
        overflow: hidden;
    }
    @keyframes show_close {
        0% {
            opacity: 0;
            -webkit-transform: translate(-20px, -100px);
            -moz-transform: translate(-20px, -100px);
            -o-transform: translate(-20px, -100px);
            transform: translate(-20px, -100px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate(-20px, 18px);
            -moz-transform: translate(-20px, 18px);
            -o-transform: translate(-20px, 18px);
            transform: translate(-20px, 18px);
        }
    }
    .form-wrap {
        position: absolute;
        width: 100%;
        height: 450px;
        float: left;
        margin: 50px 0 0;
        border: 0px solid #ff0000;
    }
    .form-wrap {
        margin: 50px 0 0;
        padding: 1.5em 0 0;
    }
    .form-wrap .tabs-content {
        padding: 1.5em 2.5em;
    }
}
@media only screen and (min-width: 60em) {
    .form-wrap .tabs-content {
        padding: 1.5em 4.9em;
    }
}