<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" style="color: lime !important;">Ограничения Форса</h4>
    </div>
    <div class="modal-body">
        <p class="inf">Нельзя форснуть себя более, чем 5 раз за раунд.</p>
        <p class="inf">Нельзя форснуть себя за мог/хаос/длань в первую минуту раунда.</p>
        <p class="inf">Нельзя форснуть себя за SCP после того, как вы им уже были (т.е. сначала поиграли за SCP 173, а потом форснулись в SCP-049 - так нельзя)</p>
        <p class="inf">Нельзя форснуть себя за SCP, который уже есть в раунде.</p>
        <p class="inf">Нельзя форснуть себя после взрыва боеголовки за любой класс, кроме МОГ и ХАОС.</p>
        <p class="inf">Нельзя форснуть себя за SCP 106, если в раунде уже был запущен протокол восстановления условий содержания.</p>
    </div>
    <div class="modal-header">
        <h4 class="modal-title" style="color: yellow !important;">Ограничения Выдачи предметов</h4>
    </div>
    <div class="modal-body">
        <p class="inf">Нельзя выдавать себе более, чем 5 предметов за раунд.</p>
        <p class="inf">Будучи ученым или д-классом, нельзя выдавать оружие и карточки на выход в первые 2 минуты раунда</p>
        <p class="inf">Предметы можно выдавать раз в 2 минуты.</p>
    </div>
    <div class="modal-header">
        <h4 class="modal-title" style="color: orange !important;">Ограничения Эффектов</h4>
    </div>
    <div class="modal-body">
        <p class="inf">3 минуты - 1 эффект.</p>
    </div>
</div>