@import url('/Nunito/style.css');
::-moz-selection{
    color:#be1c6d;
    background:#00000040;
    border-radius:15px;
}
::selection{
    color:#be1c6d;
    background: #00000040;
}
*{
  margin: 0;
  padding: 0;
  user-select: none;
}
body{
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 16px;
    overflow: hidden;
    color: antiquewhite;
    font-family: 'Nunito', sans-serif;
}
.content{
    margin: auto;
}
h1{
    background-color: #ce54f3;
    background-image: linear-gradient(155deg, #ff2323, #d445ff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
span{
    margin: auto;
    display: flex;
    justify-content: center;
}
a{
    margin-left: 5px;
    color: #db4dff;
}
a:hover{
    color: #c93c8e;
}